.filter__menu {
  width: 30%;
  height: fit-content;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.drop-menu{
  font-size: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.445);
  z-index: 2;
}

.drop-marker {
  height: 20px;
  width: 13px;
}

.dropdown-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    font-size: 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.445);
}

.dropdown-element{
    display: flex;
    justify-content: center;
    width: 50%;
}

.dropdown-element > a{
    padding: 5px;
    text-decoration: none;
    color: gray;
}

.price__interval{
    padding: 15px 40px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.interval{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.interval > input{
    border: 0.3px rgba(0, 0, 0, 0.425) solid;
    border-radius: 5px;
}

.dropdown-content{
    
}
